// change the theme
$borderofcheckout: #eb5951;
$softy: #eb5951;
$primary: #ff4136;
$danger: #eb5951;

$buttonloading: #2da046;
$button: #ff4136;

$theme-colors: (
	"primary": $primary,
	"softy": $softy,
	"danger": $danger,
	"button": $button,
	"buttonloading": $buttonloading,
);

#table {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 2rem;
	width: auto;
}

tbody {
	border-style: solid;
	border-width: 0.15rem;
	border-radius: 0.4rem;
	border-color: $borderofcheckout;
}

td {
	text-align: left;
}

#wspbutton {
	display: flex;
	flex-direction: row;
	font-size: 1.2rem;
	justify-content: center;
	align-items: center;
	width: 50%;
	margin: auto;
}

#wspimgbutton {
	height: 1.5rem;
	margin-left: 0.5rem;
}

#checkout {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#checkoutdiv {
	margin: 0.5rem;
}

#checkoutempty {
	width: 50%;
	margin: auto;
	margin-top: 10rem;
}

h1 {
	font-size: 10rem;
	text-align: center;
}

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";
