// change the theme
$borderofcheckout: #eb5638;
$softy: #eb5638;
$primary: #eb5638;
$danger: #eb5638;

$buttonloading: #2da046;
$button: #eb5638;

$theme-colors: (
	"primary": $primary,
	"softy": $softy,
	"danger": $danger,
	"button": $button,
	"buttonloading": $buttonloading,
);

#table {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 2rem;
	width: auto;
}

tbody {
	border-style: solid;
	border-width: 0.15rem;
	border-radius: 0.4rem;
	border-color: $borderofcheckout;
}

td {
	text-align: left;
}

#wspbutton {
	display: flex;
	flex-direction: row;
	font-size: 1.2rem;
	justify-content: center;
	align-items: center;
	width: 50%;
	margin: auto;
}

#wspimgbutton {
	height: 1.5rem;
	margin-left: 0.5rem;
}

#checkout {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#checkoutdiv {
	margin: 0.5rem;
}

#checkoutempty {
	width: 50%;
	margin: auto;
	margin-top: 10rem;
	font-size: 2.5rem;
	text-align: center;
	font-family: "Otomanopee One", sans-serif;
}

#LandingPage {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 2rem;
}

#LandingLogo {
	width: 15rem;
	margin: 0.5rem;
}

#TutorialText {
	font-size: 2.5rem;
	width: 100%;
	margin: auto;
}
#TutorialText img {
	width: 4rem;
}

#LandingPage {
	font-family: "Otomanopee One", sans-serif;
}

#floatingcheckout {
	width: 3.5rem;
	padding: 0.3rem;
	border-radius: 0.5rem;
	position: relative;
}

#floatingcheckoutnumber {
	background-color: $primary;
	border-radius: 100%;
	width: 1.5rem;
	text-align: center;
	padding: 0.1rem;
	position: absolute;
	top: 0;
	right: 0;
	font-family: "Otomanopee One", sans-serif;
}

#deletecheckoutitem {
	font-family: "Otomanopee One", sans-serif;
	background-color: $primary;
	border-radius: 100%;
	text-align: center;
	width: 1.5rem;
	margin-left: 0.5rem;
	color: white;
}

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap");
